
<br>
<header class="masthead bg-primary text-white text-center">
    <div class="container"><br>

      <h2 class="text-uppercase mb-0"> VISITORS OF THE HOTEL THIS WEEK </h2>

      <hr class="star-light">
    </div>
</header>

<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>TypeOfRoom</th>
            <th>Deposity</th>
            <th>Status </th>
            <th>Registration Date</th>

            <th colspan="2">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let worker of workers">
                <td>{{worker.id}}</td>
                <td>{{worker.name}}</td>
                <td>{{worker.post}}</td>
                <td>{{worker.dept}}</td>
                <td>{{worker.salary}}</td>
                <td>{{worker.status}}</td>
                <td>{{worker.createdat}}</td>

                <td><button class="btn btn-danger" (click)="deleteItem(worker)">Delete</button>
                    <button class="btn btn-primary" (click)="saveOrUpdateItem(worker)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="newItem()">Add new entry to the Room</button>
</div>

<hr>
<footer class="container-fluid bg-4 text-center">
    <p> 2020 Copyright Ⓒ Linos Nchena : All Rights Reserved</p> 

</footer>