<br>
<header class="masthead bg-primary text-white text-center">
  <div class="container"><br>
    <h2 class="text-uppercase mb-0"> DETAILS OF ADMINISTRATORS </h2>
    <hr class="star-light">
  </div>
</header>

<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Position</th>
      <th>TypeOfRoom</th>
      <th>Deposity</th>
      <th>Status </th>
      <th>Registration Date</th>
      <th colspan="2">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let worker of workers">
        <td>{{worker.id}}</td>
        <td>{{worker.name}}</td>
        <td>{{worker.post}}</td>
        <td>{{worker.dept}}</td>
        <td>{{worker.salary}}</td>
        <td>{{worker.status}}</td>
        <td>{{worker.createdat}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteItem(worker)">Delete</button>
          <button class="btn btn-primary" (click)="saveOrUpdateItem(worker)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="newItem()">Add new entry to the Room</button>

</div>
<br><br>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <a class="navbar-brand" href=#>LOGO A- DEVICESS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="collapsibleNavbar" class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=#>Contact Us</a>
      </li>
    </ul>
  </div>

</nav>

<div class="clear"></div>
<div class="container-fluid">
  <div *ngIf="deletemsg" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ deletemsg }}</strong>
  </div>

  <div class="row">
    <div class="row col-sm-1"></div>
    <div class="row col-sm-4">
      <div class="col-sm-12">
        <h3>Registration Form</h3>
        <form [formGroup]="profileForm">
          <input type="hidden" class="form-control" formControlName="id">
          <div class="form-group ">
            <label for="name"> FullName : </label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="form-group ">
            <label for="town"> Town : </label>
            <input type="text" class="form-control" id="town" formControlName="town">
          </div>
          <div class="form-group ">
            <label for="hotel"> Hotel : </label>
            <input type="hotel" class="form-control" id="hotel" formControlName="hotel">
          </div>
          <div class="form-group ">
            <label for="pwd"> On-Duty : </label>
            <input type="isactive" class="form-control" id="pwd" formControlName="isactive">
          </div>
          <br>
          <br>
          <div class="form-group ">
            <button type="submit" *ngIf="btnsubmit" (click)="onsubmit()" class="btn btn-primary">Submit</button>

            <button type="submit" *ngIf="btnupdate" (click)="onUpdate(profileForm.value.id)"
              class="btn btn-primary">Update</button>
          </div>

        </form>
      </div>
    </div>
    <div class="row col-sm-1"></div>
    <div class="row col-sm-6">

      <div>
        <h3> DETAILS OF DEVICES </h3>
      </div>
      <table class="table  table-striped table-bordered">
        <thead class="table-primary">
          <tr>
            <td>Name</td>
            <td>Town</td>
            <td>Hotel</td>
            <td>OnDuty</td>
            <td>UpdatedAt</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bookings of finalresults">
            <td>{{ bookings.name }}</td>
            <td>{{ bookings.town }}</td>
            <td>{{ bookings.hotel }}</td>
            <td>{{ bookings.isactive}}</td>
            <td>{{ bookings.createdat}}</td>
            <td>
              <a (click)=" deletefnc(bookings.id)" class="btn alert-danger btn-sm"> Delete </a>&nbsp;
              <a (click)=" editData(bookings.id)" class="btn  alert-info btn-sm">edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>
<footer class="container-fluid bg-4 text-center">
  <p> 2020 Copyright Ⓒ Linos Nchena : All Rights Reserved</p>

</footer>
